.songs-loader-wrapper {
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#filterSongTitleHelp,
#filterWordTermHelp {
  flex-basis: 100%;
  height: 0
}
.word-meta {
  font-size: 80%;
}
.hide-page-numbers {
  ::ng-deep {
    .ngx-pagination li:not(.pagination-previous):not(.pagination-next) {
      display: none;
    }
  }
}
.words-query-wrapper {
  min-height: 100vh;
}
.loader-wrapper {
  min-height: 70vh;
}
.index-results {
  .word-index-wrapper {
    font-size: 1.2rem;

    .word {
      cursor: pointer;
      font-weight: lighter;
    }
  }
}
