.stat-value {
  font-size: 150%;
}
.home-second-section-wrapper {
  li {
    font-size: .9rem;
  }
}
.top-word-wrapper {
  .top-word-value {
    font-weight: lighter;
  }
}
.song-by {
  font-size: .6rem;
}
