<div class="user-bags-wrapper">
  <div class="user-bags">
    <h4>Words Bags</h4>
    <div class="row">
      <div *ngFor="let bag of bags; let i = index" class="col-sm-3" (mouseover)="displayedDeleteBtn = i" (mouseout)="displayedDeleteBtn = -1">
        <div class="card mb-2">
          <div class="card-body">
            <span [ngClass]="{'delete': true, 'position-absolute': true, 'show': i === displayedDeleteBtn}" (click)="removeBag(bag.id)">Delete</span>
            <h5 class="card-title">{{ bag.title }}</h5>
            <p class="card-text font-italic">{{ bag.words.join(', ') }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bag-row" #appendForm></div>

  </div>

  <div>
    <button *ngIf="showAddNewFormBtn" (click)="addNewForm()" class="btn btn-sm btn-light" role="button">Add new bag +</button>
  </div>

</div>
