.user-bags-wrapper {
  .card-body {
    padding: 0.5rem;
    .delete {
      display: none;
      top: 0;
      right: 0;
      font-size: 60%;
      cursor: pointer;
      color: #dc3545;
    }
    .card-title {
      font-size: 90%;
    }
    .card-text {
      font-size: 90%;
    }
  }
}
.show {
  display: block !important;
}
